# GEMINI_API_KEY: Required for Gemini AI API calls.
VITE_GEMINI_API_KEY="AIzaSyAKaEyQjnpe0qkC7UQHiTv7X3uWEF5yJh4"

# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyCtdo_D42pcJqYKgzeyux63NnBRQjNPyXw"
VITE_FIREBASE_AUTH_DOMAIN="pt-bsm-d74f8.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="pt-bsm-d74f8"
VITE_FIREBASE_STORAGE_BUCKET="pt-bsm-d74f8.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="840538522258"
VITE_FIREBASE_APP_ID="1:840538522258:web:cca98f23b4fa4083c8dc4b"
VITE_FIREBASE_MEASUREMENT_ID="G-T2ZREFHLSV"
